<mat-card class="user-detail-header">
  <button style="position: absolute; top:0; right: 0; color: white;" mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetails()">edit</button>
  </mat-menu>
  <div>
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <a href="mailto:{{ user.eMail }}">{{ user.eMail }}</a>
  </div>

  <img src="./../../assets/img/profile.png" />
</mat-card>

<mat-card class="mt-32">
  <button style="position: absolute; top:0; right: 0;" mat-icon-button [matMenuTriggerFor]="adressMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #adressMenu="matMenu">
    <button mat-menu-item (click)="editAdressDetails()">edit</button>
  </mat-menu>

  <mat-card-title>Adress</mat-card-title>
  <mat-card-content>
    {{ user.street }}<br />
    {{ user.zipCode }} {{ user.city }}
  </mat-card-content>
</mat-card>
